<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}} - {{projects.svg-plotter.name}}</title>
  {{> head}}
</head>

<body>
  <div class="page">
    {{> header}}
    <div class="card">
      <header class="card__header">
        <h2 class="font-medium text-xl">{{projects.svg-plotter.name}}</h2>
        <a class="button" href="https://liamrosen.xyz/svg-plotter/demo/index.html">
          <div class="button__paddle">
            <span class="button__label">check it out</span>
          </div>
        </a>
      </header>
      <p>Convert <a href="https://en.wikipedia.org/wiki/SVG" class="link">SVG</a> files to <a
          href="https://en.wikipedia.org/wiki/GeoJSON" class="link">GeoJSON</a> for use with <a
          href="https://en.wikipedia.org/wiki/Geographic_information_system" class="link">GIS</a> tools like Google
        Maps/Mapbox.</p>
      <p>This tool was built to facilitate an asset pipeline for custom vector maps produced with tools like Adobe
        Illustrator/Inkscape.</p>
    </div>
    <br />
    <div class="card">
      <h3 class="font-medium text-lg mb-3">Gallery</h3>
      <div class="gallery compact">
        {{#each projects.svg-plotter.gallery}}
        <a class="gallery-item" href="{{.}}">
          <img class="gallery-item__image" src="{{.}}" />
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</body>

</html>
